@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html,body{
    overflow-x: hidden;
}
p{
    font-size: small;
}
.hide-lg{
    display: none !important;
}
.hide-sm{
    display: initial !important;
}
a:hover{
    color: #04DA96;
}
.nav{
    position: fixed;
    top: 0%;
    background-color: transparent;
    z-index: 9999;
    
}
.nav .logo{
    color: white;
}
.nav .logo h3{
    margin-bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav .logo h3 i{
    margin-right: 1rem;
    font-size: 1.2rem;
    display: none;
}
.nav .navlinks{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navlinks a{
    display: inline-block;
    padding: 0 3rem;
    text-decoration: none;
    color: white;
    font-size: small;
}
.navlinks .logo{
    font-weight: bold;
    font-size: 2rem;
}
.home-bg{
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.91),rgba(0, 0, 0, 0.51),rgba(0, 0, 0, 0.65)),url('../Images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home-bg .home-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home-text h1{
    font-size: 4rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    
}
.home-text .home-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    text-decoration: none;
    padding:1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    border-radius: 3px;
}
.button i{
    margin-right: 0.6rem;
}
.dark-btn{
    /* border: 1px solid white; */
    background-color: #fff;
    color: black;
}
.light-btn{
    /* border: 1px solid black; */
    background-color: black;
    color: white;
}
.fullimg{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fullimg .smalltolarge{
    position: absolute;
    top: -20%;
    width: 40%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.51),rgba(0, 0, 0, 0.61),rgba(0, 0, 0, 0.85)),url('../Images/Home-bg.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fullimg .downscroll{
    position: absolute;
    bottom: 10%;
    width: 1.5rem;
    height: 2rem ;
    background-color: transparent;
    border-radius: 14px;
    border: 1px solid white;
}
.downscroll i{
    display: inline-block;
    margin-top: -0.2rem;
    animation: downscroll 2s ease 0s infinite alternate forwards;
}
@keyframes downscroll {
from{
    margin-top: -0.2rem;
}
to{
    margin-top: 0.6rem;
}
    
}

.about-img{
    /* width: 0%; */
    height: 80vh;
    background-color: #F6F3EE;
    position: relative;
    overflow: visible;
}
.about-img .ab-img,.about-img .tailor-img{
    /* width: 0%; */
    position: absolute;
    top: 10%;
    left: 10%;
    width: 0%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.about-img .ab-img{
    background-image: url('../Images/about-us.webp');  
}
.about-img .tailor-img{
    background-image: url('../Images/custom-tailor.webp');
}

.whywe-img,.whywe-text{
    height: 80vh;
}
.whywe video{
    width: 100%;
    height: 100%;
}
.whywe-img img{
    width: 100%;
    height: 100%;
}
.about-text{
    position: relative;
}
.about-text .ab-text{
    position: absolute;
    top: 10%;
    left: 15%;
}
.about-text .tailor-text{
    position: absolute;
    top: 10%;
    left: 0%;
}
.about-text h5, .whywe-text h5,.VT-text h5, .testimonial-inner h5{
    font-size: 1rem;
    color: #04DA96;
}
.about-text h2, .whywe-text h2,.VT-text h2, .testimonial-inner h2{
    font-weight: 300;
}
.about-text p ,.whywe-text p, .VT-text p{
    line-height: 1.6rem;
}
.VT-text h2{
    font-weight: 300;
    color: white;
}
.VT-text p{
    line-height: 1.6rem;
    color: whitesmoke;
}
.steps2{
    /* height: 100vh; */
    background-color: #F6F3EE;
}
.steps2 video{
    width: 100%;
}
.stepbox h6{
    color: #04DA96;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 500;
}
.stepbox h6 i{
    margin-right: 1rem;
}
.stepbox h4{
    font-weight: 300;
    margin-left: 2rem;
}
.virtualtailor{
    height: 80vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.51),rgba(0, 0, 0, 0.61),rgba(0, 0, 0, 0.85)),url('../Images/virtual.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
}
.VT-text{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.VT-img{
    
    height: 80vh;
    position: relative; 
}
.VT-img img{
    height: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.casualshirt,.collection{
    background: linear-gradient(to left , #F6F3EE 50%,white 50%);
}
.businessshirt{
    background: linear-gradient(to right , #F6F3EE 50%,white 50%);
}
.casualshirt h5,.businessshirt h5,.collection h5{
    font-size: small;
    color: #04DA96;
}
.casualshirt h2,.businessshirt h2, .collection h2{
    font-weight: 300;
}

.testimonial .test-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.testimonial .test-box img{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}
.testimonial .test-box h6{
    color: #04DA96;
}
.testimonial .test-box p{
    color: white;
    text-align: center;
}
.footer{
    background-color: #F6F3EE;
}
.footer a{
    text-decoration: none;
    color: black;
    font-weight: 300;
}
.footer .socialmedia{
    display: flex;
    justify-content: center;
}
.footer .socialmedia a{
    color: white;
}
.footer .socialmedia i{
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-color: #04DA96;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.footer li{
    list-style: none;
    margin-top: 1rem;
}
.footer span{
    color: #04DA96;  
}